<div class="container">
    <div class="row">
      <div class="col-4">
      <div class="card" *ngIf="todo">
    
          <a routerLink="/" class="btn btn-sm btn-secondary mb-3 back"  >Back</a>
          <h3 class="card-header">{{todo.name}}</h3>
    
          <div class="card-body">
              <ul class="list-group">
                  <li class="list-group-item">Ime: {{todo.name}}</li>
                  <li class="list-group-item">Status: {{todo.status}}</li>
                  <li class="list-group-item">Done: {{todo.done}}</li>
                  <li class="list-group-item">Kategorija: {{todo.category}}</li>
                  <li class="list-group-item">Datum {{todo.date |  date:'dd.MM.yyyy.'}}</li>
                
              </ul>
          </div>
          <div class="card-footer">
              <div class="btn-group">
                  <a routerLink="/todo/edit/{{todo.id}}" class="btn btn-info">Edit</a>
                  <button class="btn btn-danger" (click)="deleteTodo()">Delete</button>
    
              </div>
          </div>
      </div>
    
      </div>
     
      </div>
    
    </div>