<div class="container">
    <div class="row">
      <input type="text" class="form-control my-2" placeholder="serach" />
      <table class="my-5 table table-hover table-striped">
        <thead class="table-dark">
          <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Datum</th>
            <th>Kategorija</th>
            <th>Done</th>
  
            <th></th>
          </tr>
        </thead>
        <tbody>
          <!-- <tr *ngIf="todo">
            <td>{{ name }}</td>
            <td>{{ status }}</td>
            <td>{{ date | date:'dd.MM.yyyy.'}}</td>
            <td>{{ category }}</td>
            <td>{{ done }}</td>
  
      
          </tr> -->
        </tbody>
      </table>
    </div>
  </div>
  
