nav {
    background: linear-gradient(to top, #544d4d 45%, #392f2f 55%) !important;
    color: #fff !important;
    position: sticky !important;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
  
  }
  a {
      color: #fff !important;
  }