<div class="container">
    <div class="row">
        <form #f="ngForm" (ngSubmit)="addTodo(f)">
            <div class="mb-3">
              <label for="name">Name</label>
              <input
              title="#"
              ngModel
              type="text"
              id="name"
              #name="ngModel"
              name="name"
              class="form-control"
              required
              [ngClass]="{ 'is-invalid': name.invalid && name.touched }"
              />
            </div>
            <div class="mb-3">
              <label for="status">status</label>
              <input
              title="#"
              ngModel
              type="text"
              id="status"
              #status="ngModel"
              name="status"
              class="form-control"
              required
              [ngClass]="{ 'is-invalid': status.invalid && status.touched }"
              />
            </div>
            <div class="mb-3">
              <label for="done">done</label>
              <input
              title="#"
              ngModel
              type="text"
              id="done"
              #done="ngModel"
              name="done"
              class="form-control"
              required
              [ngClass]="{ 'is-invalid': done.invalid && done.touched }"
              />
            </div>
          
            <div class="mb-3">
              <label for="date">Datum</label>
              <input
              title="#"
              ngModel
              type="date"
              id="date"
              #date="ngModel"
              name="date"
              class="form-control"
              required
              [ngClass]="{ 'is-invalid': date.invalid && date.touched }"
              />
              <div [hidden]="!name.errors?.['required']" class="invalid-feedback">
                Name is Required
              </div>
            </div>
            <div class="mb-3">
                <label for="category">category</label>
               <select name="category" id="category" class="form-select"ngModel>
                  <option *ngFor="let c of category" [ngValue]="c.id">{{c.name}}</option>
                
               </select>
              </div>
          
            <button class="btn btn-success" type="submit">Add Todo</button>
          </form>
    </div>
</div>